html {
  -webkit-font-smoothing: antialiased;
}

.hug {
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
}

.compose {
  .optional {
    color: #ccc;
    font-weight: 300;
    float: right;
  }

  input {
    height: 46px;
    padding: 0 10px;
    font-size: 14px;
    width: 100%;
  }

  label {
    input {
      margin-top: 3px;
    }
  }

  button {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
  }
}

.videos {
  margin: 0;
  padding: 0;

  li {
    padding: 16px 0;
    border-bottom: 1px solid #e0e0e0;
  }
}