body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  width: 100%;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: #111; }

.videoWrapper {
  width: 100%;
  left: 0;
  right: 0; }

.player {
  position: absolute;
  width: 100%;
  top: 50%; }

.toolbar {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #fff;
  box-shadow: 0 1px rgba(0, 0, 0, 0.02);
  padding: 0 18px;
  font-size: 13px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 0.7, 0, 1.5);
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden; }
  .toolbar a {
    color: #fff; }
  .toolbar > li {
    line-height: 42px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0; }
  .toolbar .logo {
    display: inline-block; }
    .toolbar .logo h1 {
      font-size: inherit;
      margin: 0;
      padding: 0;
      font-weight: normal;
      line-height: inherit; }
  .toolbar .options {
    font-size: 16px;
    opacity: 0;
    text-align: right; }

.subbar {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #fff;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.02);
  padding: 0;
  font-size: 13px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 0.7, 0, 1.5);
  color: #fff;
  opacity: 0;
  margin: 0;
  overflow: hidden; }
  .subbar > li {
    line-height: 42px;
    margin: 0;
    padding: 0; }
  .subbar .fullscreen {
    width: 130px;
    font-size: 23px;
    opacity: 0;
    padding-left: 18px;
    line-height: 50px; }
    .subbar .fullscreen .fullscreen-button {
      cursor: pointer; }
    .subbar .fullscreen .fullscreen-button:hover {
      color: #5A20F7; }
    .subbar .fullscreen .fullscreen-button:active {
      color: #501DDE; }
    .subbar .fullscreen .isfullscreen .ic-fullscreen-stroke:before {
      content: "\e60e"; }
  .subbar .trackinfo {
    width: calc(100% - 260px);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
    opacity: 0; }
  .subbar .next-video {
    width: 130px;
    text-align: right;
    opacity: 0; }
    .subbar .next-video .skip-video {
      cursor: pointer;
      display: inline-block;
      line-height: 42px;
      padding: 0 17px 0 18px;
      background: #f7f7f7;
      text-align: center;
      color: #5A20F7;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      font-weight: 600; }
      .subbar .next-video .skip-video .ic-arrow-next::before {
        font-size: 10px; }
      .subbar .next-video .skip-video .ic-arrow-next:first-child::before {
        display: inline-block;
        margin-right: -3px; }
    .subbar .next-video .skip-video:hover {
      background: #5A20F7;
      color: #f7f7f7; }
    .subbar .next-video .skip-video:active {
      background: #501DDE;
      color: #f9f9f9; }

.show-ui {
  height: 42px;
  color: #111;
  opacity: 1; }
  .show-ui a {
    color: #111; }
  .show-ui .trackinfo,
  .show-ui .options,
  .show-ui .next-video,
  .show-ui .fullscreen {
    opacity: 1.0; }

.hide-cursor {
  cursor: none; }

/* .moveoveriframe {
  pointer-events: none;
} */
